@model List<Assignment.Repository.ViewModels.BlogListViewModel>

<div class="table-responsive mt-2">
    <table class="table">
        <thead>
            <th>No.</th>
            <th>Title</th>
            <th>Content</th>
            <th class="text-end"><span class="me-3">Published date</span></th>
            <th class="text-end"><span class="me-3">Actions</span></th>
        </thead>
        <tbody>
            @foreach(var blog in Model)
            {
                <tr>
                    <td>@blog.Id</td>
                    <td>@blog.BlogTitle</td>
                    <td>@blog.BlogContent</td>
                    <td class="text-end">@blog.PublishedDate</td>
                    <td class="text-end"><span class="d-flex align-items-center"><button type="button" class="edit-button btn btn-success me-2" data-id="@blog.Id">Edit</button><button type="button" class="delete-button btn btn-danger" data-id="@blog.Id">Delete</button></span></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).on("click", ".delete-button", function(){
        $("#deleteBlogModal").modal("show");
        var Id = $(this).data("id");
        $("#deleteBlogYesButton").data("id", Id);
        console.log("Data id in delete button: " + Id);
    });
</script>