@model List<Assignment.Repository.ViewModels.BlogListViewModel>

<div class="table-responsive mt-2">
    <table class="table">
        <thead>
            <th>No.</th>
            <th>Title</th>
            <th>Content</th>
            <th class="text-center"><span class="me-3">Published date</span></th>
        </thead> 
        <tbody>
            @foreach(var blog in Model)
            {
                <tr class="blog-row pointer" data-id="@blog.Id">
                    <td>@(Model.IndexOf(blog) + 1)</td>
                    <td style="width: 225px;">@(blog.BlogTitle.Length > 22 ? blog.BlogTitle.Substring(0, 22) + "..." : blog.BlogTitle)</td>
                    <td>@Html.Raw(System.Text.RegularExpressions.Regex.Replace(blog.BlogContent, "<.*?>", string.Empty).Length > 150 ? System.Text.RegularExpressions.Regex.Replace(blog.BlogContent, "<.*?>", string.Empty).Substring(0, 150) + "..." : System.Text.RegularExpressions.Regex.Replace(blog.BlogContent, "<.*?>", string.Empty))</td>
                    <td class="text-center">@(blog.PublishedDate?.ToString("dd-MM-yyyy") ?? "N/A")</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6">
                    <div class="d-flex justify-content-end align-items-center">
                        <span class="me-2">Items per page:</span>
                        <select class="pointer" id="itemsPerPage" onchange="changePageSize()">
                            <option value="3" selected=@(ViewBag.PageSize == 3 ? "selected" : null)>3</option>
                            <option value="5" selected=@(ViewBag.PageSize == 5 ? "selected" : null)>5</option>
                            <option value="10" selected=@(ViewBag.PageSize == 10 ? "selected" : null)>10</option>
                        </select>
                        <span class="ms-2">Showing @(ViewBag.PageSize * (ViewBag.Page - 1) + 1) -
                            @((ViewBag.PageSize * ViewBag.Page) > ViewBag.TotalBlogs ? ViewBag.TotalBlogs :
                                                        (ViewBag.PageSize * ViewBag.Page)) of @ViewBag.TotalBlogs</span>

                        <button class="btn btn-outline-secondary ms-2 @(ViewBag.Page > 1 ? "" : "disabled")"
                            onclick="loadPrevPage()">
                            &lt;
                        </button>

                        <button
                            class="btn btn-outline-secondary ms-2 @(ViewBag.Page* ViewBag.PageSize < ViewBag.TotalBlogs ? "" : "disabled")"
                            onclick="loadNextPage()">
                            &gt;
                        </button>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

<script>
    $(document).on("click", ".blog-row", function(){
        var Id = $(this).data("id");
        console.log("Data id in blog row: " + Id);
        window.location.href = "/Users/ViewBlog/" + Id;
    });

    function loadPrevPage() {
        var page = @ViewBag.Page - 1;
        var pageSize = @ViewBag.PageSize;
        var searchString = $("#searchInput").val();
        loadPage(page, pageSize, searchString);
    }

    function loadNextPage() {
        var page = @ViewBag.Page + 1;
        var pageSize = @ViewBag.PageSize;
        var searchString = $("#searchInput").val();
        loadPage(page, pageSize, searchString);
    }
</script>